@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//background
$background-color: #191919;

//Colors
$primary-color: #cccccc;
$secondary-color: #a7a7a7;
$quaternary-color: #42446e;
$tertiary-color: #666666;
$quaternary-color: #8e8e8e;
$accent-color-one: #d7ffe0;
$accent-color-two: #018c0f;
$card-color: #363636;

//Gradient Colors
$gradient-color-one: #e70faa;
$gradient-color-two: #00c0fd;

//Typography
$primary-font: "Poppins", serif;
$secondary-font: "DM Sans", sans-serif;
