/* Global styles for the body */
@use "variables";

body {
    background-color: variables.$background-color;
}

.container {
  margin: 20px auto; /* 10px no topo e na base, 20px nas laterais */
  width: 100%; 
  max-width: 1600px; 
  height: auto; 
  max-height: 1024px; 
  // background-color: lightgray; 
}

/* Desktop styles: large screens (min-width: 1025px) */
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1400px; 
    margin: 30px auto; 
    max-height: 1200px; 
  }
}

/* Tablet styles: medium screens (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 1000px; 
    margin: 15px auto; 
    max-height: 900px; 
  }
}

/* Mobile styles: small screens (max-width: 767px) */
@media screen and (max-width: 767px) {
  .container {
    max-width: 100%; 
    margin: 10px auto; 
    max-height: none; 
  }
}