@use "variables";

.card {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    max-width: 375px;
    height: 55vh;
    min-height: 560px;
    max-height: 560px;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: variables.$card-color;
    display: inline-block;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card-infos {
    height: 30vh;
    min-height: 307px;
    max-height: 307px;
    padding: 0 20px 0 20px;
    font-family: variables.$secondary-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color: variables.$secondary-color;
    text-align: justify;
}

.card-title {
    color: variables.$primary-color;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.img-website {
    width: inherit;
    height: 25vh;
    min-height: 260px;
    max-height: 260px;
    border-radius: 20px 20px 0 0;
    padding: 0;
    margin: 0;
    object-fit: cover;
    cursor: pointer;
}

.about {
    height: 5rem; /* Prevents overflow of long titles */
    overflow: hidden;
}

.skills {
    height: 3.5rem; /* Prevents overflow of long titles */
    overflow: hidden;
}

.link-project {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.link-project a {
    color: variables.$secondary-color;
    text-decoration: underline;
}

/* Tablet styles: medium screens (768px to 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card:hover {
        transform: none;
    }

    .card-title {
        text-align: center;
    }

    .about,
    .skills {
        text-align: justify;
    }
}

/* Mobile styles: small screens (max-width: 767px) */
@media screen and (max-width: 767px) {
    .card:hover {
        transform: none;
    }

    .card-infos {
        padding: 10px;
    }

    .img-website {
        width: 100%;
        height: auto;
    }

    .card-title {
        font-size: 1.4rem;
        text-align: center;
    }

    .about,
    .skills {
        font-size: 0.9rem;
        text-align: justify;
    }

    .link-project a {
        font-size: 0.85rem;
    }
}
